.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 80px 18px 80px;
}

.leftSide {
    display: flex;
    gap: 10px;
}

.logo {
    img {
        max-width: 74px;
    }
}

.rightSide {}